########################
# To be ignored by Git #
########################

########################
# OS-Specific Files    #
########################
.DS_Store?

########################
# Output Directories   #
########################
target

########################
# Eclipse Project      #
########################
.project
.classpath
.settings
